.card_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card_product{
    padding: 15px 15px 30px 15px;
    border: 1px solid rgb(204, 194, 194);
    border-radius: 10px;

    width: 200px;

    background-color: white;

    font-size: 14px;
    text-align: center;

    flex-basis: calc(22% - 50px);
}

.card_product:hover {
    box-shadow: 0 0 5px rgba(92, 85, 85, 0.5);
}
  
.card_image{
    height: 150px;
    width: 150px;
}

.cad_title{
    text-align: center;
    word-wrap: break-word;
    margin-top: 20px;
}

.price{
    font-size: 20px;
    color: #00a650;

    margin-top: 50px;
}

Link{
    cursor: pointer;
}

