.card_section{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    column-gap: 3rem;
    row-gap: 2rem;

    margin-top: 20px;
    margin-bottom: 80px;

    justify-self: center;

    width: 85%;
}

.card_product{
    padding: 15px 15px 30px 15px;
    border: 1px solid rgb(204, 194, 194);
    border-radius: 10px;

    width: 200px;

    background-color: white;

    font-size: 14px;
    text-align: center;

    position: relative;
}

.card_product:hover {
    box-shadow: 0 0 5px rgba(92, 85, 85, 0.5);   
}

.card_product:hover .cart_btn_product {
    display: flex;
}
  
.card_image{
    height: 150px;
    width: 150px;
}

.cad_title{
    text-align: center;
    word-wrap: break-word;
    margin-top: 20px;
}

.price{
    font-size: 20px;
    color: #00a650;

    margin-top: 50px;
}

.cart_btn_product{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: rgb(21, 64, 121);
    box-shadow: 0 0 5px rgba(92, 85, 85, 0.5);

    height: 32px;
    width: 32px;

    border: 1px solid rgb(204, 194, 194);
    border-radius: 20px;

    font-size: 18px;
    

    top: 20px;
    right: 20px;

    cursor: pointer;
}

.product_container{
    display: flex;
    justify-content: center;
}

Link{
    cursor: pointer;
}


.hide::before{  
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Fundo escuro com transparência */
}

.hide{
    pointer-events: none;
}


